[[server]]
name = "Local"
[server.config]
address = "https://host.docker.internal:8120"
enabled = true

##

[[stack]]
name = "caddy"
[stack.config]
server = "Local"
auto_update = true
auto_update_all_services = true
linked_repo = "homelab"
run_directory = "stacks/caddy"
additional_env_files = ["../global-interp.env"]
environment = """
CADDY_PRIVATE_DOMAIN=[[CADDY_PRIVATE_DOMAIN]]
CADDY_PUBLIC_DOMAIN=[[CADDY_PUBLIC_DOMAIN]]
CADDY_CLOUDFLARE_API=[[CADDY_CLOUDFLARE_API]]
"""

##

[[stack]]
name = "frigate"
[stack.config]
server = "Local"
auto_update = true
auto_update_all_services = true
linked_repo = "homelab"
run_directory = "stacks/frigate"
additional_env_files = ["../global-interp.env"]

##

[[stack]]
name = "mediarr"
[stack.config]
server = "Local"
auto_update = true
auto_update_all_services = true
linked_repo = "homelab"
run_directory = "stacks/mediarr"
additional_env_files = ["../global-interp.env"]
environment = """
NFS_DEVICE=[[NFS_DEVICE]]
NFS_DEVICE_MEDIA=[[NFS_DEVICE_MEDIA]]
NFS_O=[[NFS_O]]
MEDIARR_WG_ENDPOINT_IP=[[MEDIARR_WG_ENDPOINT_IP]]
MEDIARR_WG_ENDPOINT_PORT=[[MEDIARR_WG_ENDPOINT_PORT]]
MEDIARR_WG_PUBLIC_KEY=[[MEDIARR_WG_PUBLIC_KEY]]
MEDIARR_WG_PRIVATE_KEY=[[MEDIARR_WG_PRIVATE_KEY]]
MEDIARR_WG_ADDRESSES=[[MEDIARR_WG_ADDRESSES]]
MEDIARR_WG_SERVER_HOSTNAME=[[MEDIARR_WG_SERVER_HOSTNAME]]
"""

##

[[stack]]
name = "mediaserve"
[stack.config]
server = "Local"
auto_update = true
auto_update_all_services = true
linked_repo = "homelab"
run_directory = "stacks/mediaserve"
additional_env_files = ["../global-interp.env"]
environment = """
NFS_DEVICE_MEDIA=[[NFS_DEVICE_MEDIA]]
NFS_O=[[NFS_O]]
"""

##

[[stack]]
name = "openwebui"
[stack.config]
server = "Local"
auto_update = true
auto_update_all_services = true
linked_repo = "homelab"
run_directory = "stacks/openwebui"
additional_env_files = ["../global-interp.env"]

##

[[stack]]
name = "calibre"
[stack.config]
server = "Local"
linked_repo = "homelab"
run_directory = "stacks/calibre"
additional_env_files = ["../global-interp.env"]
environment = """
NFS_DEVICE_MEDIA=[[NFS_DEVICE_MEDIA]]
NFS_O=[[NFS_O]]
"""

##

[[stack]]
name = "vikunja"
[stack.config]
server = "Local"
linked_repo = "homelab"
run_directory = "stacks/vikunja"
additional_env_files = ["../global-interp.env"]
environment = """
CADDY_PRIVATE_DOMAIN=[[CADDY_PRIVATE_DOMAIN]]
VIKUNJA_SECRET=[[VIKUNJA_SECRET]]
"""

##

[[repo]]
name = "homelab"
[repo.config]
server = "Local"
builder = "Local"
git_account = "github.wish887@slmail.me"
repo = "zacarrie/homelab"

##

[[builder]]
name = "Local"
[builder.config]
type = "Server"
params.server_id = "Local"

##

[[resource_sync]]
name = "homelab"
[resource_sync.config]
linked_repo = "homelab"
resource_path = ["komodo.toml"]
managed = true
