[[server]]
name = "Nextcloud"
[server.config]
address = "https://10.10.10.12:8120"
enabled = true

##

[[server]]
name = "Proxmox-Komodo"
[server.config]
address = "https://periphery:8120"
enabled = true

##

[[stack]]
name = "caddy"
[stack.config]
server = "Proxmox-Komodo"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/caddy"
additional_env_files = ["../global-interp.env"]
environment = """
CADDY_BASE_DOMAIN=[[CADDY_BASE_DOMAIN]]
CADDY_BASE_DOMAIN2=[[CADDY_BASE_DOMAIN2]]
CADDY_CLOUDFLARE_API=[[CADDY_CLOUDFLARE_API]]
NFS_DEVICE=[[NFS_DEVICE]]
NFS_O=[[NFS_O]]
CADDY_NEXTCLOUD_DOMAIN=[[CADDY_NEXTCLOUD_DOMAIN]]
"""

##

[[stack]]
name = "frigate"
[stack.config]
server = "Proxmox-Komodo"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/frigate"
additional_env_files = ["../global-interp.env"]

##

[[stack]]
name = "mediarr"
[stack.config]
server = "Proxmox-Komodo"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/mediarr"
additional_env_files = ["../global-interp.env"]
environment = """
NFS_DEVICE=[[NFS_DEVICE]]
NFS_DEVICE_MEDIA=[[NFS_DEVICE_MEDIA]]
NFS_O=[[NFS_O]]
MEDIARR_WG_ENDPOINT_IP=[[MEDIARR_WG_ENDPOINT_IP]]
MEDIARR_WG_ENDPOINT_PORT=[[MEDIARR_WG_ENDPOINT_PORT]]
MEDIARR_WG_PUBLIC_KEY=[[MEDIARR_WG_PUBLIC_KEY]]
MEDIARR_WG_PRIVATE_KEY=[[MEDIARR_WG_PRIVATE_KEY]]
MEDIARR_WG_ADDRESSES=[[MEDIARR_WG_ADDRESSES]]
MEDIARR_WG_SERVER_HOSTNAME=[[MEDIARR_WG_SERVER_HOSTNAME]]
"""

##

[[stack]]
name = "mediaserve"
[stack.config]
server = "Proxmox-Komodo"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/mediaserve"
additional_env_files = ["../global-interp.env"]
environment = """
NFS_DEVICE=[[NFS_DEVICE]]
NFS_DEVICE_MEDIA=[[NFS_DEVICE_MEDIA]]
NFS_O=[[NFS_O]]
"""

##

[[stack]]
name = "nextcloud"
[stack.config]
server = "Nextcloud"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/nextcloud"
environment = """
NFS_DEVICE=[[NFS_DEVICE]]
NFS_O=[[NFS_O]]
"""

##

[[stack]]
name = "openwebui"
[stack.config]
server = "Proxmox-Komodo"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/openwebui"
additional_env_files = ["../global-interp.env"]

##

[[stack]]
name = "wgeasy"
[stack.config]
server = "Proxmox-Komodo"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/easy-wireguard"
additional_env_files = ["../global-interp.env"]
environment = """
NFS_DEVICE=[[NFS_DEVICE]]
NFS_O=[[NFS_O]]
WG_HOST=[[WG_HOST]]
"""

##

[[repo]]
name = "Homelab"
[repo.config]
server = "Proxmox-Komodo"
builder = "local"
git_account = "github.wish887@slmail.me"
repo = "ZaCarrie/homelab"

##

[[procedure]]
name = "pull repo then redeploy changes"
config.schedule_format = "Cron"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "PullRepo", execution.params.repo = "Homelab", enabled = true }
]

[[procedure.config.stage]]
name = "Stage 2"
enabled = true
executions = [
  { execution.type = "BatchDeployStackIfChanged", execution.params.pattern = "*", enabled = true }
]

##

[[procedure]]
name = "redeploy mediarr"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "PullRepo", execution.params.repo = "Homelab", enabled = true }
]

[[procedure.config.stage]]
name = "Stage 2"
enabled = true
executions = [
  { execution.type = "DestroyStack", execution.params.stack = "caddy", execution.params.services = [], execution.params.remove_orphans = false, enabled = true }
]

[[procedure.config.stage]]
name = "Stage 3"
enabled = true
executions = [
  { execution.type = "DeployStack", execution.params.stack = "caddy", execution.params.services = [], enabled = true }
]

[[procedure.config.stage]]
name = "Stage 4"
enabled = true
executions = [
  { execution.type = "DestroyStack", execution.params.stack = "mediarr", execution.params.services = [], execution.params.remove_orphans = false, enabled = true }
]

[[procedure.config.stage]]
name = "Stage 5"
enabled = true
executions = [
  { execution.type = "DeployStack", execution.params.stack = "mediarr", execution.params.services = [], enabled = true }
]

##

[[builder]]
name = "local"
[builder.config]
type = "Server"
params.server_id = "Proxmox-Komodo"

##

[[resource_sync]]
name = "Github"
[resource_sync.config]
repo = "ZaCarrie/homelab"
git_account = "github.wish887@slmail.me"
resource_path = ["komodo.toml"]
managed = true