
[[server]]
name = "Local"
[server.config]
address = "https://host.docker.internal:8120"
enabled = true

##

[[stack]]
name = "caddy"
[stack.config]
server = "local"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/caddy"
additional_env_files = ["../global-interp.env"]
environment = """
CADDY_BASE_DOMAIN=[[CADDY_BASE_DOMAIN]]
CADDY_BASE_DOMAIN2=[[CADDY_BASE_DOMAIN2]]
CADDY_CLOUDFLARE_API=[[CADDY_CLOUDFLARE_API]]
NFS_DEVICE=[[NFS_DEVICE]]
NFS_O=[[NFS_O]]
CADDY_NEXTCLOUD_DOMAIN=[[CADDY_NEXTCLOUD_DOMAIN]]
"""

##

[[stack]]
name = "frigate"
[stack.config]
server = "local"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/frigate"
additional_env_files = ["../global-interp.env"]

##

[[stack]]
name = "mediarr"
[stack.config]
server = "local"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/mediarr"
additional_env_files = ["../global-interp.env"]
environment = """
NFS_DEVICE=[[NFS_DEVICE]]
NFS_DEVICE_MEDIA=[[NFS_DEVICE_MEDIA]]
NFS_O=[[NFS_O]]
MEDIARR_WG_ENDPOINT_IP=[[MEDIARR_WG_ENDPOINT_IP]]
MEDIARR_WG_ENDPOINT_PORT=[[MEDIARR_WG_ENDPOINT_PORT]]
MEDIARR_WG_PUBLIC_KEY=[[MEDIARR_WG_PUBLIC_KEY]]
MEDIARR_WG_PRIVATE_KEY=[[MEDIARR_WG_PRIVATE_KEY]]
MEDIARR_WG_ADDRESSES=[[MEDIARR_WG_ADDRESSES]]
MEDIARR_WG_SERVER_HOSTNAME=[[MEDIARR_WG_SERVER_HOSTNAME]]
"""

##

[[stack]]
name = "mediaserve"
[stack.config]
server = "local"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/mediaserve"
additional_env_files = ["../global-interp.env"]
environment = """
NFS_DEVICE=[[NFS_DEVICE]]
NFS_DEVICE_MEDIA=[[NFS_DEVICE_MEDIA]]
NFS_O=[[NFS_O]]
"""

##

[[stack]]
name = "openwebui"
[stack.config]
server = "local"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/openwebui"
additional_env_files = ["../global-interp.env"]

##

[[stack]]
name = "wgeasy"
[stack.config]
server = "local"
auto_update = true
auto_update_all_services = true
linked_repo = "Homelab"
run_directory = "stacks/easy-wireguard"
additional_env_files = ["../global-interp.env"]
environment = """
NFS_DEVICE=[[NFS_DEVICE]]
NFS_O=[[NFS_O]]
WG_HOST=[[WG_HOST]]
"""

##

[[repo]]
name = "homelab"
[repo.config]
server = "Local"
builder = "Local"
git_account = "github.wish887@slmail.me"
repo = "ZaCarrie/homelab"

##

[[procedure]]
name = "pull repo then deploy changes"
config.schedule = "1 */10 * * * *"
config.schedule_format = "Cron"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "PullRepo", execution.params.repo = "Homelab", enabled = true }
]

[[procedure.config.stage]]
name = "Stage 3"
enabled = true
executions = [
  { execution.type = "RunSync", execution.params.sync = "Github", enabled = true }
]

[[procedure.config.stage]]
name = "Stage 4"
enabled = true
executions = [
  { execution.type = "CommitSync", execution.params.sync = "Github", enabled = true }
]

[[procedure.config.stage]]
name = "Stage 2"
enabled = true
executions = [
  { execution.type = "BatchDeployStackIfChanged", execution.params.pattern = "*", enabled = true }
]

[[procedure.config.stage]]
name = "Stage 5"
enabled = true
executions = [
  { execution.type = "PruneSystem", execution.params.server = "local", enabled = true }
]

##

[[procedure]]
name = "Global Auto Update"
description = "Pulls and auto updates Stacks and Deployments using 'poll_for_updates' or 'auto_update'."
tags = ["system"]
config.schedule = "Every day at 03:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "GlobalAutoUpdate", execution.params = {}, enabled = true }
]

##

[[procedure]]
name = "Backup Core Database"
description = "Triggers the Core database backup at the scheduled time."
tags = ["system"]
config.schedule = "Every day at 01:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "BackupCoreDatabase", execution.params = {}, enabled = true }
]

##

[[builder]]
name = "Local"
[builder.config]
type = "Server"
params.server_id = "Local"

##

[[resource_sync]]
name = "homelab"
[resource_sync.config]
linked_repo = "homelab"
resource_path = ["komodo.toml"]
managed = true