---
include:
  - ../components/caddy_network.yaml

#networks:

volumes:
  media_tvshows:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/tvshows"
  media_movies:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/movies"
  media_music:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/music"
  media_anime:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/anime"

#secrets:

services:
  homarr:
    image: ghcr.io/homarr-labs/homarr:latest@sha256:d19a33cdd72815d529e1e78574dd76339ca47bbec1d8a2b9c796bf1b0dc2caf5
    pull_policy: ${pull_policy}
    container_name: ${homarr_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.5
    ports:
      - ${homarr_port_7575}:7575
    environment:
      - SECRET_ENCRYPTION_KEY=8aaca723973dd7ea0495d56dc5000eeda8d194f51de7611571dbfab032e39c82
    volumes:
      - /docker/${homarr_container_name}/appdata:/appdata

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest@sha256:d351d241011e26be29ac06127644c194b5e0d204edb852727afa4df0ee791fb5
    pull_policy: ${pull_policy}
    container_name: ${jellyfin_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.10
    ports:
      - ${jellyfin_port_8096}:8096
    environment: 
      - UID=1000
      - GID=1000
      - TZ=America/Chicago
    volumes:
      - /docker/jellyfin/config:/config
      - media_tvshows:/data/tvshows
      - media_movies:/data/movies
      - media_anime:/data/anime
    devices:
      - /dev/dri:/dev/dri

  emby:
    image: lscr.io/linuxserver/emby:latest
    pull_policy: ${pull_policy}
    container_name: ${emby_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.20
    ports:
      - ${emby_port_8096}:8096
    environment: 
      - UID=1000
      - GID=1000
      - TZ=America/Chicago
    volumes:
      - /docker/${emby_container_name}/config:/config
      - media_tvshows:/data/tvshows
      - media_movies:/data/movies
      - media_anime:/data/anime
    devices:
      - /dev/dri:/dev/dri

  navidrome:
    image: deluan/navidrome:latest@sha256:648ebd45c50c58edc7ad9f0cc3b4411a1bece16c81f0b3630a0ab0a739c6d7ec
    user: 1000:1000
    pull_policy: ${pull_policy}
    container_name: ${navidrome_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.15
    ports:
      - "${navidrome_port_4533}:4533"
    environment:
      - ND_SCANNER_PURGEMISSING=full
    volumes:
      - /docker/${navidrome_container_name}/data:/data
      - media_music:/music:ro