---
include:
  - ../components/caddy_network.yaml

#networks:

volumes:
  homarr-appdata:
    external: true
  emby-config:
    external: true
  navidrome-data:
    external: true
  media_tvshows:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/tvshows"
  media_movies:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/movies"
  media_music:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/music"
  media_anime:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/anime"

#secrets:

services:
  homarr:
    image: ghcr.io/homarr-labs/homarr:latest@sha256:99cf8466e5035049f718285a4a8529d1017d7950b0f9569440de04a0361caf60
    pull_policy: ${pull_policy}
    container_name: ${homarr_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.5
    ports:
      - ${homarr_port_7575}:7575
    environment:
      - SECRET_ENCRYPTION_KEY=8aaca723973dd7ea0495d56dc5000eeda8d194f51de7611571dbfab032e39c82
    volumes:
      - homarr-appdata:/appdata

  emby:
    image: lscr.io/linuxserver/emby:latest@sha256:8a0a5ae9844c83380fa72c9964c0212f5d1488ea61ecc0adac64a5ab49c83cb1
    pull_policy: ${pull_policy}
    container_name: ${emby_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.20
    ports:
      - 8097:8096
    environment: 
      - UID=1000
      - GID=1000
      - TZ=America/Chicago
    volumes:
      - emby-config:/config
      - media_tvshows:/data/tvshows
      - media_movies:/data/movies
      - media_anime:/data/anime

  navidrome:
    image: deluan/navidrome:latest@sha256:648ebd45c50c58edc7ad9f0cc3b4411a1bece16c81f0b3630a0ab0a739c6d7ec
    pull_policy: ${pull_policy}
    container_name: ${navidrome_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.15
    ports:
      - "${navidrome_port_4533}:4533"
    environment:
      - ND_SCANNER_PURGEMISSING=full
    volumes:
      - navidrome-data:/data
      - media_music:/music:ro