---
include:
  - ../components/caddy_network.yaml

#networks:

volumes:
  homarr-appdata:
    external: true
  emby-config:
    external: true
  navidrome-data:
    external: true
  media_tvshows:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/tvshows"
  media_movies:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/movies"
  media_music:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/music"
  media_anime:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/anime"

#secrets:

services:
  homarr:
    image: ghcr.io/homarr-labs/homarr:latest@sha256:e3112f8d2e9aa32d0d3e69950ac76111f725714b68bca488a01c0afa6811a238
    pull_policy: ${pull_policy}
    container_name: ${homarr_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.5
    ports:
      - ${homarr_port_7575}:7575
    environment:
      - SECRET_ENCRYPTION_KEY=8aaca723973dd7ea0495d56dc5000eeda8d194f51de7611571dbfab032e39c82
    volumes:
      - homarr-appdata:/appdata

  emby:
    image: lscr.io/linuxserver/emby:latest@sha256:f04ef19deaa26dcf83d6dd46f8b063c541d145a96aa95dbf470666b33e742972
    pull_policy: ${pull_policy}
    container_name: ${emby_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.20
    ports:
      - 8097:8096
    environment: 
      - UID=1000
      - GID=1000
      - TZ=America/Chicago
    volumes:
      - emby-config:/config
      - media_tvshows:/data/tvshows
      - media_movies:/data/movies
      - media_anime:/data/anime
    devices:
      - /dev/dri:/dev/dri

  navidrome:
    image: deluan/navidrome:latest@sha256:4edc8a1de3e042f30b78a478325839f4395177eb8201c27543dccc0eba674f23
    pull_policy: ${pull_policy}
    container_name: ${navidrome_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.15
    ports:
      - "${navidrome_port_4533}:4533"
    environment:
      - ND_SCANNER_PURGEMISSING=full
    volumes:
      - navidrome-data:/data
      - media_music:/music:ro
