#------------------------------------------------
# setup cloudflare cert for import
#------------------------------------------------
(cloudflare) {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        resolvers 1.1.1.1
    }
}

#------------------------------------------------
# external to docker lxc
#------------------------------------------------
# proxmox
pve.{$BASE_DOMAIN} {
    reverse_proxy 10.10.10.200:8006 {
        transport http {
            tls_insecure_skip_verify
        }
    }
    import cloudflare
}
# truenas
truenas.{$BASE_DOMAIN} {
    reverse_proxy 10.10.10.10:443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
    import cloudflare
}
# homeassistant
ha.{$BASE_DOMAIN} {
    reverse_proxy 10.10.10.234:8123
    import cloudflare
}
openwebui.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:3000
    import cloudflare
}
ollama.{$BASE_DOMAIN} {
    reverse_proxy 192.168.1.150:11434
    import cloudflare
}

#------------------------------------------------
# nextcloud server
#------------------------------------------------
# nextcloud
https://{$CADDY_NEXTCLOUD_DOMAIN}:443 {
    reverse_proxy 10.10.10.12:11000
    import cloudflare
}


#------------------------------------------------
# main komodo server
#------------------------------------------------
# komodo gui
komodo.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:9120
    import cloudflare
}
# navidrome
navidrome.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:4533
    import cloudflare
}
beets.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:9999
    import cloudflare
}
# wg dashboard
wg.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:51821
    import cloudflare
}
# frigate
frigate.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:5000
    import cloudflare
}

#------------------------------------------------
# mediarr stack
#------------------------------------------------
# jellyfin
jellyfin.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:8096
    import cloudflare
}
# prowlarr
prowlarr.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:9696
    import cloudflare
}
# qbittorrent
qb.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:8080
    import cloudflare
}
# radarr
radarr.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:7878
    import cloudflare
}
# sonarr
sonarr.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:8989
    import cloudflare
}
# notifiarr
notifiarr.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:5454
    import cloudflare
}