#------------------------------------------------
# setup cloudflare cert for import
#------------------------------------------------
(cloudflare) {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        resolvers 1.1.1.1
    }
}

#------------------------------------------------
# external to docker lxc
#------------------------------------------------
# proxmox
pve.{$BASE_DOMAIN} {
    reverse_proxy 10.10.10.200:8006 {
        transport http {
            tls_insecure_skip_verify
        }
    }
    import cloudflare
}
# truenas
truenas.{$BASE_DOMAIN} {
    reverse_proxy 10.10.10.10:443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
    import cloudflare
}
# homeassistant
ha.{$BASE_DOMAIN} {
    reverse_proxy 10.10.10.234:8123
    import cloudflare
}
http://homeassistant.camera {
    reverse_proxy http://10.10.10.234:8123 {
        header_up Host $host:8080
        header_up Content-Type application/json
        header_up Authorization "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJmY2Q0ODE3Yjc5MGQ0NjNmYmRiYWU0OTA0OGVjMWMxZCIsImlhdCI6MTc1NjQyNjM4NywiZXhwIjoyMDcxNzg2Mzg3fQ.tCcmG_DDRv_hVAEWvZA4GgHY1nJpdrv9WiJMm3hMBdY"
    }
}


#------------------------------------------------
# nextcloud server
#------------------------------------------------
# nextcloud
https://{$CADDY_NEXTCLOUD_DOMAIN}:443 {
    reverse_proxy 10.10.10.12:11000
    import cloudflare
}


#------------------------------------------------
# main komodo server
#------------------------------------------------
# komodo gui
komodo.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:9120
    import cloudflare
}
# wg dashboard
wg.{$BASE_DOMAIN} {
    reverse_proxy {$DOCKER_LXC_IP}:51821
    import cloudflare
}
# matrix
matrix.{$BASE_DOMAIN2} {
    reverse_proxy /_matrix/* localhost:8008
    reverse_proxy /_synapse/client/* localhost:8008
    import cloudflare
}
{$BASE_DOMAIN2} {
    header /.well-known/matrix/* Content-Type application/json
    header /.well-known/matrix/* Access-Control-Allow-Origin *
    respond /.well-known/matrix/server `{"m.server": "matrix.{$BASE_DOMAIN2}:443"}`
    respond /.well-known/matrix/client `{"m.homeserver":{"base_url":"https://matrix.{$BASE_DOMAIN2}"},"m.identity_server":{"base_url":"https://vector.im"}}`
    import cloudflare
}
