---
include:
  - ../components/caddy_network.yaml

#networks:

volumes:
  caddy-data:
    external: true
  caddy-config:
    external: true

#secrets:

services:
  caddy:
    image: ghcr.io/caddybuilds/caddy-cloudflare@sha256:4a3d4afed443f026040cad84b48ef2eef6cc6eb5a80a3ecab66a03df469a46f8
    pull_policy: ${pull_policy}
    container_name: ${caddy_container_name}
    restart: ${restart}
    networks:
      - caddy
    ports:
      - "${caddy_port_80}:80"
      - "${caddy_port_443}:443"
      - "${caddy_port_443}:443/udp"
    environment:    
      - TZ=${timezone}
      - CADDY_PRIVATE_DOMAIN=${CADDY_PRIVATE_DOMAIN}
      - CADDY_PUBLIC_DOMAIN=${CADDY_PUBLIC_DOMAIN}
      - CLOUDFLARE_API_TOKEN=${CADDY_CLOUDFLARE_API}    
    volumes:
      - $PWD/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy-data:/data
      - caddy-config:/config

