---
include:
  - ../components/caddy_network.yaml

#networks:

volumes:
  calibreweb-config:
    external: true
  calibreserver-config:
    external: true
  media_books:
    driver: local
    driver_opts:
      type: nfs
      o: ${NFS_O}
      device: ":${NFS_DEVICE_MEDIA}/books"


#secrets:

services:
  calibreweb:
    image: lscr.io/linuxserver/calibre-web:latest@sha256:20e584b010124c27667b8d5cbbfb74e9e673c6f43124b53c0fe2d9459ce3f4ed
    pull_policy: ${pull_policy}
    container_name: ${calibreweb_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.45
    ports:
      - ${calibreweb_port_8083}:8083
    environment:
      - TZ=${timezone}
      - PUID=1000
      - PGID=1000 
    volumes:
      - calibreweb-config:/config
      - media_books:/books

  calibreserver:
    image: lscr.io/linuxserver/calibre:latest@sha256:a9113e79e9ea0e0add35671d6568ac01ddd94438e52215b8c1bb5819cb93d4f6
    pull_policy: ${pull_policy}
    container_name: ${calibreserver_container_name}
    restart: ${restart}
    networks:
      caddy:
        ipv4_address: 30.30.30.50
    ports:
      - ${calibreserver_port_8181}:8181
    environment:
      - TZ=${timezone}
      - PUID=1000
      - PGID=1000 
    volumes:
      - calibreserver-config:/config
      - media_books:/books